---
layout: base.njk
pagination:
  data: prepositions
  size: 1
  alias: prep
permalink: "preposition-{{ prep.slug }}.html"
loadP5: true
bodyClass: example-v2-body
title: "{{ prep.title }}"
description: "Learn the preposition \"{{ prep.title }}\" through an interactive p5.js sketch."
---
{% include "example-v2.njk" %}
